<div class="jumbotron">
    <h1>Spinntools Reporting</h1>
    <p class="lead">Welcome to Spinntools Reporting a Spinnaker Nordic product. With this tool our customers can easily manage and see their AdWords reports.
        To make your expereience even more appealing, we recommend reading our guide on <a href="http://app.spinntools.com">this blog post</a>.
   </p>
    <p>If yopu have any questions regarding this product dont hessitate to contact us at <a href="mailto:info@spinnaker.dk?Subject=[SpinnReport]%20...">email</a>.</p>
    <p>If you have already purchased any of the reporting products, please log in via <a href="http://app.spinntools.com">Spinntools App</a></p>
</div>