<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quality Score Settings</title>
    <link href="./Content/bootstrap.min.css" rel="stylesheet">
    <link href="./Content/Site.css" rel="stylesheet">
</head>
<body>
    <div style="width: 600px;">
        <div style="float: left; clear: none; width: 50%;">
            <span>EMAILS</span> <br>
            <select id="emails" size="5" style="width: 100%;"/>

            <div>
                <button value="email_create" style="float: left;">Create</button>
                <button value="email_delete" style="float: right;">Delete</button>
            </div>
        </div>

        <div style="float: left; clear: none; width: 50%;">
            <span>KEYWORDS</span><br>
            <select id="keywords" size="5" style="width: 100%;"/>

            <div>
                <button value="keyword_create" style="float: left;">Create</button>
                <button value="keyword_delete" style="float: right;">Delete</button>
            </div>
        </div>
    </div>
</body>
</html>